.hero1-header1 {
  height: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
}
.hero1-max-width {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: center;
}
.hero1-navlink {
  display: contents;
}
.hero1-container {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: stretch;
  padding-top: 35%;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
}
.hero1-image1 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  margin: 0px;
}
.hero1-root-class-name {
  height: 50%;
}
.hero1-root-class-name1 {
  height: 50%;
}
@media(max-width: 991px) {
  .hero1-container {
    width: 100%;
    padding-top: 56.25%;
  }
}

.cta1-container {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  overflow: hidden;
  position: relative;
  padding-top: 0px;
  flex-direction: column;
}
.cta1-max-width {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.cta1-content {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.cta1-heading1 {
  text-align: center;
  font-family: "Istok Web";
}
.cta1-content1 {
  font-size: 16px;
  text-align: center;
  font-family: "Istok Web";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.cta1-actions {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
}
.cta1-action1 {
  font-size: 18px;
  font-style: normal;
  text-align: center;
  font-family: "Istok Web";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}

@media(max-width: 479px) {
  .cta1-actions {
    width: 100%;
    flex-direction: column;
  }
  .cta1-button {
    width: 100%;
  }
}

.timeline4-max-width {
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
}
.timeline4-container01 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.timeline4-text {
  font-family: "Istok Web";
}
.timeline4-text01 {
  text-align: left;
  font-family: "Istok Web";
}
.timeline4-link {
  text-decoration: underline;
}
.timeline4-container02 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.timeline4-timeline-container {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.timeline4-step1 {
  display: flex;
  position: relative;
  justify-content: center;
}
.timeline4-container03 {
  flex: 1;
  left: var(--dl-space-space-halfunit);
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.timeline4-container04 {
  width: 12px;
  height: 12px;
  margin: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: #000000;
}
.timeline4-progress0 {
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.timeline4-container05 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.timeline4-text04 {
  text-align: left;
  font-family: "Istok Web";
}
.timeline4-text07 {
  font-family: "Istok Web";
}
.timeline4-container06 {
  gap: var(--dl-space-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
}
.timeline4-step11 {
  display: flex;
  position: relative;
  justify-content: center;
}
.timeline4-container07 {
  flex: 1;
  left: var(--dl-space-space-halfunit);
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.timeline4-container08 {
  width: 12px;
  height: 12px;
  margin: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: #000000;
}
.timeline4-progress01 {
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.timeline4-container09 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.timeline4-text15 {
  text-align: left;
  font-family: "Istok Web";
}
.timeline4-text16 {
  font-family: "Istok Web";
}
.timeline4-container10 {
  gap: var(--dl-space-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
}
.timeline4-step12 {
  display: flex;
  position: relative;
  justify-content: center;
}
.timeline4-container11 {
  flex: 1;
  left: var(--dl-space-space-halfunit);
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.timeline4-container12 {
  width: 12px;
  height: 12px;
  margin: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: #000000;
}
.timeline4-progress02 {
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.timeline4-container13 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.timeline4-text24 {
  text-align: left;
  font-family: "Istok Web";
}
.timeline4-text25 {
  font-family: "Istok Web";
}
.timeline4-container14 {
  gap: var(--dl-space-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
}
.timeline4-step13 {
  display: flex;
  position: relative;
  justify-content: center;
}
.timeline4-container15 {
  flex: 1;
  left: var(--dl-space-space-halfunit);
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.timeline4-container16 {
  width: 12px;
  height: 12px;
  margin: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: #000000;
}
.timeline4-progress03 {
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.timeline4-container17 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.timeline4-text33 {
  text-align: left;
  font-family: "Istok Web";
}
.timeline4-text34 {
  font-family: "Istok Web";
}
.timeline4-container18 {
  gap: var(--dl-space-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
}
.timeline4-step14 {
  display: flex;
  position: relative;
  justify-content: center;
}
.timeline4-container19 {
  flex: 1;
  left: var(--dl-space-space-halfunit);
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.timeline4-container20 {
  width: 12px;
  height: 12px;
  margin: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: #000000;
}
.timeline4-progress04 {
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.timeline4-container21 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.timeline4-text42 {
  text-align: left;
  font-family: "Istok Web";
}
.timeline4-text43 {
  font-family: "Istok Web";
}
.timeline4-container22 {
  gap: var(--dl-space-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
}
@media(max-width: 1200px) {
  .timeline4-text04 {
    font-family: Istok Web;
  }
  .timeline4-text15 {
    font-family: Istok Web;
  }
  .timeline4-text24 {
    font-family: Istok Web;
  }
  .timeline4-text33 {
    font-family: Istok Web;
  }
  .timeline4-text42 {
    font-family: Istok Web;
  }
}
@media(max-width: 991px) {
  .timeline4-max-width {
    gap: var(--dl-space-space-twounits);
  }
}
@media(max-width: 767px) {
  .timeline4-max-width {
    flex-direction: column;
  }
  .timeline4-text01 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .timeline4-text04 {
    text-align: left;
  }
  .timeline4-text15 {
    text-align: left;
  }
  .timeline4-text24 {
    text-align: left;
  }
  .timeline4-text33 {
    text-align: left;
  }
  .timeline4-text42 {
    text-align: left;
  }
}
@media(max-width: 479px) {
  .timeline4-container01 {
    gap: var(--dl-space-space-unit);
  }
  .timeline4-container02 {
    width: 100%;
    align-items: stretch;
    flex-direction: column;
  }
  .timeline4-timeline-container {
    width: 100%;
  }
  .timeline4-container06 {
    width: 100%;
    align-items: stretch;
    flex-direction: column;
  }
  .timeline4-container10 {
    width: 100%;
    align-items: stretch;
    flex-direction: column;
  }
  .timeline4-container14 {
    width: 100%;
    align-items: stretch;
    flex-direction: column;
  }
  .timeline4-container18 {
    width: 100%;
    align-items: stretch;
    flex-direction: column;
  }
  .timeline4-container22 {
    width: 100%;
    align-items: stretch;
    flex-direction: column;
  }
}

.footer4-footer7 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.footer4-max-width {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer4-content {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer4-logo {
  gap: 24px;
  display: none;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.footer4-logo1 {
  height: 2rem;
}
.footer4-credits {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.footer4-row {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.footer4-container {
  display: flex;
  align-items: flex-start;
}
.footer4-text {
  font-family: "Istok Web";
}
.footer4-link {
  text-decoration: underline;
}
.footer4-footer-links {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
.footer4-text2 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  font-size: 16px;
  font-family: "Istok Web";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.footer4-text3 {
  font-size: 16px;
  font-family: "Istok Web";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.footer4-text4 {
  font-size: 16px;
  font-family: "Istok Web";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
@media(max-width: 767px) {
  .footer4-row {
    gap: var(--dl-space-space-oneandhalfunits);
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .footer4-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .footer4-text {
    text-align: center;
  }
  .footer4-footer-links {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-theme-accent1);
}
